*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}

nav{
    background-color: rgba(24, 24, 24, 0.562);
    
}

header nav ul li a{
    color: white;
}

.banner{
    background-size: cover;
    width: 100%;
    height: 680px;
}
.btext{
    position: absolute;
    top: 55%;
    font-size: 30px;
    font-weight:700;
}

.hhover{
}

.hhover img{
    width: 100%;
    height: 300px;
    padding: 30px;
}

.hhover:hover{
    box-shadow: 5px 5px 100px rgb(168, 168, 168);
}
.bttn{
    color: white;
    background-color: rgb(126, 96, 0);
    
}

.bttn:hover{
    background-color: rgb(173, 146, 58);
    
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s ease; /* Add smooth transition */
}

/* Style for the image when hovered */
.image-container:hover img {
    transform: scale(1.1); /* Enlarge the image on hover */
}


.goback{
    position: fixed;
    bottom: 35px;
    right: 35px;
    background-color: rgb(255, 132, 17);
    width: 50px;
    height: 50px;
    font-size: 30px;
}



@media screen and (max-width:400px) {

    .banner{
        background-size: cover;
        width: 100%;
        height: 250px;
        margin-top: 50px;
    }
    nav{
        background-color: rgb(19, 19, 19);
        
    }

    .btext{
        position: absolute;
        top: 24%;
        left: 10px;
        font-size: 13px;
    }
    .para1{
        font-size: 15px;
        padding: 0px;
    }

    .head1{
        font-size: 18px;
    }
    .hiddenPara{
        visibility: hidden;
    }
    .hiddenimage{
        margin-top: -150px;
    }
    
  


    .goback{
        position: fixed;
        bottom: 30px;
        right: 30px;
        background-color: rgb(255, 132, 17);
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    .hhover{
        margin-top: 20px;
    }
}

